#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px 0px 5px 0px;
	background: rgba(0,0,0,0.9);
}

.errorPage {
        text-align: center;
        background: #FFF;
        border: 1px solid #DDD;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        padding: 50px 0px;
        margin-top: 15%;
}

.errorPage h1 {
        margin-top: 0px;
}

body.padded {
	padding-top: 60px;
}
